RFE: Add supported API versions API

As an automator of things using TO, I want a generic endpoint with a consistent url I can query to know what versions of the API are supported by TO.  This allows me to add better safeties as an API consumer to know how to communicate with TO across breaking changes in the API.  For example: if I have a script which calls the 1.1 api, at a future date when that is removed I will have better information than just getting 4xx/5xx errors back.

>the 1.1 api, at a future date when that is removed
We shouldn't be removing old minor versions, within a major. We should support all minor versions, within a major, and we should support one major version back, i.e. `1.x`is deprecated when `2.0` exists, and removed when `3.0` exists.

But definitely +1 on a "supported API versions" endpoint. That especially helps other components fall back, when updating their requests, so they don't have to be upgraded at the same time as TO.

For example, we need to change the Router to call new `/api/1.4/` endpoints instead of `/internal`. It'd be super-helpful to have a defined way to determine if `1.4` exists, and fall back to the old `/internal` if it doesn't.

I'm considering writing a new access method for the `/api` endpoint, using `OPTIONS` that would return a list of all supported methods and endpoints separated by newlines e.g.
```
GET /api/1.1/ping
GET /api/1.1/cdns
PUT /api/1.1/cdns
POST /api/1.1/cdns
DELETE /api/1.1/cdns
⋮
GET /api/1.2/ping
GET /api/1.2/cdns
PUT /api/1.2/cdns
POST /api/1.2/cdns
DELETE /api/1.2/cdns
```


+1

`OPTIONS` isn't well-defined, so anything it returns is going to be proprietary. But I'm not strictly opposed to it.

Which makes me agree, since it isn't well-defined, returning something as simple as possible is best.

It seems verbose, and a lot of duplication, but it makes it as easy as possible to use, e.g. users can simply `string.Find(myRoute)` or `string.Find("api/1.5")` to determine if a route or API version exists. And duplicate text compresses extremely well, so the gzip will be small.

Since the API itself is JSON, I'd also support returning JSON if the client sends an `Accept: application/json` header. Something like:
```
{ "api": "1.2",
  "routes": [ 
    { "path": "/cdns",
      "methods": ["GET", "POST"] }, 
    { "path": "/deliveryservices/{{id}}/sslkeys",
      "methods": ["GET"],
      "example": "GET /api/1.2/deliveryservices/42/sslkeys"}, 
    ]
  }
}
```

I don't think the structure is necessary here, to warrant the parsing complexity. But since the API is JSON, it might make it a little easier for some users, to use the same decode function for everything.

I'd be ok with just a simple GET response with an array of version strings, not even endpoints specifically because that should be defined by the api spec at that version.

Honestly I think trying to get into methods and endpoints makes it significantly more complicated than it needs to be.  As a user of the native client libraries, you only really need '1.1/1.2/1.3/etc'.

>I think trying to get into methods and endpoints makes it significantly more complicated than it needs to be

In the code? No, it's really easy to get that information out of the Go HTTP router.

> As a user of the native client libraries

But we shouldn't just support our own Go/Python clients. The HTTP API should be easy to use directly, and for people to write their own clients for.

And even for our own client, again, I have no confidence we won't break SemVer; IMO it'd be better even for our own client, to verify the actual endpoint is in the `OPTIONS` request. It'd make life easier, and issues around that far easier to track down.

>I'd be ok with just a simple GET response with an array of version strings, not even endpoints specifically because that should be defined by the api spec at that version.

I want endpoints, for 2 reasons:
1. that's a great theory, but I don't have any confidence that we won't break Semantic Versioning in practice.
2. Even if we don't, it's much easier for someone hitting those HTTP endpoints to immediately see "oh, that endpoint isn't in this version", than having to look up the docs every time, which they can't possibly  memorize. It just makes people's lives easier.
3. The performance doesn't matter. Even with all the endpoints of every version, we're talking about kilobytes, especially gzipped

It feels like we're doing something wrong with API versioning if you have to ask if every method/endpoint is available before you try to issue your request.

Not before. But maybe after, if it fails with a 404 or 501.

That would be harder to add to our existing native client libraries.  On startup, I need to know what class to instantiate based on what API version I can negotiate.

Maybe the answer is that these are two different things.  Maybe both `/api/version` and `/api/version?full` is appropriate.

>That would be harder to add to our existing native client libraries. On startup, I need to know what class to instantiate based on what API version I can negotiate.

That's not difficult, with the endpoint as-proposed. On startup, the client can request that endpoint and search for the text `/api/*/`, put the result in a Set, and there are your API versions. It's a fairly simple function: https://play.golang.org/p/kiO4rMpG_5S

I'm thinking more about the native python client code rather than the golang one.

Ok https://repl.it/repls/ObedientSilverQueryoptimizer :P

I have a proposal in line with

> _"Maybe the answer is that these are two different things."_

but I don't think query parameters are the answer. From [RFC 7231 Section 4.3.7](https://tools.ietf.org/html/rfc7231#section-4.3.7):

> _"The OPTIONS method requests information about the communication options available for the target resource..."_

and [Section 4.3.1](https://tools.ietf.org/html/rfc7231#section-4.3.7):

> _"The GET method requests transfer of a current selected representation for the target resource."_

With these in mind, I'd suggest that `OPTIONS` method return the valid communication options - i.e. the supported API versions - and the `GET` method return a representation of the API - the set of routes of which it is composed.

I have a working prototype of my first suggestion [here](https://github.com/ocket8888/trafficcontrol/tree/supported-routes-fetch)


As a developer, I'd like to see something like the following:
```
[{
		"method": "GET",
		"endpoint": "/api/1.1/asns"
	},
	{
		"method": "GET",
		"endpoint": "/api/1.1/asns/*"
	},
	{
		"method": "DELETE",
		"endpoint": "/api/1.1/cachegroupparameters/*/*"
	}
]
```
In response to an unversioned endpoint: `/available_api`.

In hindsight, I think diving into endpoint specifics over-complicates things.  A lot of concern with an unversioned API endpoint would be that like any endpoint the payload can change and thus break clients making requests (which is valid).  A simple list of strings with the version number is sufficient.  The promise being that the strings themselves once created are immutable until the day they're removed indicating that the version they represent is no longer available.  If other aspects such as supported, unsupported, deprecated wish to be conveyed they would be additional entries until the day they're removed (i.e. `['2.x','3.0.1','4.0','2.x deprecated','5.0 unstable <some kind of id> in case something cares which it shouldn't']` which eventually becomes `['3.0.1','4.0','5.0']` etc.).  It's not as great as something more structured or granular, but hopefully out of the simplicity we can avoid problems down the road needing to express things differently, thus breaking an unversioned api.  Any client should be able to query that and more gracefully degrade or internally downshift/upshift the instantiated client code version used because it knows the magic strings it was developed against to support.  As a bonus this unversioned enpoint serves as a runtime, code-based form of documentation as to what's available in a given release.

Another thing we could do is have `OPTIONS /api/` tell you what versions there are, and `OPTIONS /api/{{version}}` tell you what routes it has. The more complex data is actually versioned, that way, and is still available if needed while keeping the simpler information available outside of the versioning it describes.

I have no idea how useful that could possibly be, since I don't think anything I maintain would ever make use of it. But something to think about.