Add terminating newline to JSON API responses, so HTTP responses are POSIX text files

[POSIX Standard 3.206 Line defines a line to be "A sequence of zero or more non- <newline> characters plus a terminating <newline> character."](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_206) By this definition, all API responses produce zero lines of output. This causes problems operating on API responses using tools that DO implement and expect POSIX-compliance.

examples, please?  both specific endpoints and the output you're seeing (any proprietary data changed or removed).   Do you see any that **are** compliant?

examples to come tomorrow, but no, I haven't seen any that are compliant

On Thu, Jun 28, 2018, 2:57 PM Dan Kirkwood <notifications@github.com> wrote:

> examples, please? both specific endpoints and the output you're seeing
> (any proprietary data changed or removed). Do you see any that *are*
> compliant?
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/apache/trafficcontrol/issues/2484#issuecomment-401171018>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AFvBwlnqoVtWBrobySyRK3Aq_GR8-vczks5uBUNIgaJpZM4U7oza>
> .
>


The Traffic Ops API doesn't return POSIX files or lines. It serves JSON over HTTP. But neither of those standards are related to POSIX, operating systems, or filesystems of any kind. The API conforms to RFC2616 (, RFC7231, et al) for HTTP, and RFC7159 and RFC 4627 for JSON. 

If you're using the APIs in a POSIX context, for example piping `curl` results to POSIX utilities, you can use an intermediary tool like `jq` or `printf` to manipulate the output to be a POSIX-compliant file, e.g. `curl | xargs -I '{}' printf '{}\n'`.

I'm not sure why you expect an HTTP-JSON API to be POSIX compliant, as they're entirely unrelated standards. Can you point to an HTTP or JSON RFC requiring or recommending POSIX compliance?

No, I can't. It just seems like a good quality-of-life update. The newline won't, as you pointed out, affect the validity of the JSON), but _will_ allow it to represent a `*.json` file, and eliminate the need for intermediary tools.

Eh, I guess I could support that. I'm not a fan of unnecessary space, but one character isn't going to make a practical difference. And RFC 4627 states "Insignificant whitespace is allowed before or after any of the six structural characters", so the terminating newline is explicitly still valid JSON.

But it's certainly a feature request, not a bug.

Hey, sounds good to me. By the way, I can't get into the vpn, slack or email, what's going on? I didn't even have github.com access until a second ago

Update: config files generated for ORT script endpoints are also missing newlines, which is a bigger deal somewhat because they _are_ explicitly meant to be real files

This has been fixed in the general case. Specific endpoints should have specific issues.