This is applicable to any api endpoint that creates or edits a "user". I think just these ones

```
post("/api/$version/users
post("/api/$version/users/register
put("/api/$version/users/:id
put("/api/$version/user/current
post("/api/$version/user/current/update
```

> dangogh -- aren't you rewriting the user endpoints in golang? maybe you can include this in your work.  

I rewrote the users endpoint and this issue persists. The database still stores a case-sensitive version of the email. I don't know if the `users/register` or `user/current` endpoints have changed to accomodate this issue, but I doubt it.

According to [Section 2.3.11 of RFC5321](https://tools.ietf.org/html/rfc5321#section-2.3.11):

> _"... the local-part MUST be interpreted and assigned semantics only by the host specified in the domain part of the address."_

Where email addresses are of the form `{{local-part}}@{{domain part}}`. So we MUST treat abc@foo.com as distinct from Abc@foo.com, although *not* distinct from abc@FoO.CoM.

I don't know, though, if any widely-used email providers actually treat local parts as case-sensitive (e.g. GMail does not), but they are allowed to.

I don't know. Seems silly to treat abc@foo.com as distinct from Abc@foo.co, however, it does give us the ability to do the following:

portal account - abc@foo.com
operations account - Abc@foo.com
admin account - aBc@foo.com

create multiple accounts with the "same" email address. Again, feels weird what i've noticed is that you end up with a lot of duplicate accounts.