Add X-Forwarded-For for TP proxy and logs

<!--
************ STOP!! ************
If this issue identifies a security vulnerability, DO NOT submit it! Instead, contact
the Apache Traffic Control Security Team at security@trafficcontrol.apache.org and follow the
guidelines at https://apache.org/security regarding vulnerability disclosure.

- For *SUPPORT QUESTIONS*, use the #traffic-control channel on the ASF slack (https://s.apache.org/tc-slack-request)
or the Traffic Control Users mailing list (send an email to users-subscribe@trafficcontrol.apache.org to subscribe).
- Before submitting, please **SEARCH GITHUB** for a similar issue or PR
    * https://github.com/apache/trafficcontrol/issues
    * https://github.com/apache/trafficcontrol/pulls
-->

<!-- Do not submit security vulnerabilities or support requests here - see above -->
## This Improvement request (usability, performance, tech debt, etc.) affects these Traffic Control components:
<!-- delete all those that don't apply -->
- Traffic Portal
- Traffic Ops

## Current behavior:
It's not possible to know from TO access logs who the client was when it's passing through the TP proxy.


## New behavior:
TP should set the `X-Forwarded-For` HTTP header, if not already set somehow, when operating as a proxy.  TO should include this in its access logs additionally so you can find client sources that pass through TP or go direct to TO.

The standard header for containing that kind of information is [`Forwarded`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded) - described in [RFC7239 Section 4](https://www.rfc-editor.org/rfc/rfc7239#section-4) - and should probably be used instead of, or at least in addition to the non-standard `X-Forwarded-For` header.